*.tr
NS3/build/*
NS3/.waf*
NS3/.lock-waf*
**/.vscode/*

NS3/analyze/raw_basic/*
NS3/mix/output/*
NS3/mix/*_flow.txt
NS3/config/*_flow.txt
NS3/analysis/figures/*.pdf
**/*.pyc
**/__pycache__/

*.png
!.assets/overview.png
*.pdf
*.docx
*.csv
*.txt
!NS3/config/wan_simple_topo.txt
!NS3/config/wan_topo_json.txt
!NS3/config/w-tcp-100.txt

NS3/config/wan_traffic.txt
NS3/autokill.log
NS3/autokill.pid
NS3/.venv/
NS3/venv/
NS3/expr*
.github/
Notes.md
package.json
package-lock.json
